::-webkit-scrollbar {
    display: none;
}

.ScrollContainer {
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;
    height: fit-content;
    width: auto;


    margin-left: 5px;
}

.Item {
    height: 350px;

    min-height: 350px;
    min-width: 250px;

    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10px;
    margin-right: 20px;

    transform: scale(1);
    transition: .5s;
}

.Item:hover {
    transform: scale(1.15);
}


.Item img {
    width: 250px;
    height: 350px;
}

input {
    height: 30px;
    width: 250px;

    padding-left: 5px;

    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--Quaternaria);
    border-left: 2px solid var(--Quaternaria);
    color: var(--Normal);
}

input::placeholder {
    color: var(--Normal);
}

.pesquisa {
    margin-top: 2%;
    font-size: 30px;
    display: flex;
}

.Item {
    cursor: pointer;
    text-decoration: none;
    color: var(--Normal);
}

.Item:hover {
    text-decoration: none;
    color: var(--Hover);
}

.Item .text-block {

    display: flex;
    align-items: center;

    position: relative;
    top: -60px;
    background: rgba(0, 0, 0, 0.556);
    font-size: 15px;

    height: fit-content;
}

.Item .text-block .animeTitle {
    text-align: center;
    width: 250px;
    overflow-wrap: normal;
}


/* reponsividade */
.normal {
    display: flex;
}
.Short {
    font-size: 50px;
    display: none;
}

.Short:hover {
    color: var(--Hover);
}

.Short .Options .Button .icon {display: none;}
.Short .Options .Button {font-size: 20px;margin-right: 7px;}
.Short .Options {
    position: absolute;
    z-index: 9999;
    background: var(--Terciaria);
    border-radius: 5px;

    right: 10px;

    width: 170px;
    padding: 5px;
    height: 0px;
    opacity: 0;

    transition: .5s;
}
.Short:hover .Options{
    height: 130px;
    opacity: 1;
}
