* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
}

body {
    background: var(--Background);
    color: var(--Normal);
}

main{
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;

    border: 1px solid var(--Terciaria);
    overflow: hidden;
}

img {
    width: 300px;
}

.right {margin-left: 20px;}
.top {display: flex; width: 100%;}
.interaction{margin-top: 10px; display: flex; align-items: center;}
.interaction ion-icon {font-size: 25px; margin-left: 10px; margin-right: 10px;}
.Container.icons {cursor: pointer;}
.interaction .Container.icons:hover {color: var(--Hover);}


main h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    background-color: var(--Terciaria);
}
.bottom {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container{
    display: flex; 
    align-items: center; 

    border-bottom: 2px solid var(--Quaternaria); 
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
}

.container ul {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
}
.container ul li {
    font-size: 12px;
    background: var(--Terciaria);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}
.container ul li:hover {
    color: var(--Hover);
}

.container.Sinopse ul li{
    font-size: 15px;
}

.bottom .Title {
    font-size: 30px;
}
.bottom .Episodeso {width: 100%; margin-top: 10px;}
.bottom .Episodeso .itemEp{
    background-color: var(--Terciaria);
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.bottom .Episodeso .itemEp:hover{color: var(--Hover);}

